
#add-list-button {
    color: #000;
}

#add-list-button:hover {
    cursor: pointer;
    color: rgb(2, 78, 2);
}

#todo-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .todo-container {
        width: 100%;
        display: flex;
        // flex: 1;
        justify-content: space-evenly;
        flex-wrap: wrap;
    
        .todo-list {
            margin-top: 20px;
            width: 20vw; 
            min-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            // border: 1px solid black;
            height: max-content;

            .todo-list-title {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: center;
                align-items: center;
                padding: 0;
                width: 100%;

                .pushpin-container {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;

                    .edit-list {
                        height: 30px;
                        padding-top: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        i {
                            padding: 5px;
                            padding-top: 0;
                            color: #333;
                        }

                        i:hover {
                            cursor: pointer;
                            color: black;
                        }
                    }

                    .pushpin {
                        height: 30px;
                        width: 30px;
                    }
                }
                

                h2 {
                    padding-top: 0;
                    margin-top: 0;
                }
        
            }
        
            .todo-list-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                border-bottom: 1px solid black;
                background: #fff;
                margin-top: 5px;
            }
        }   
    }
}