#add-list-button {
    color: #000;
}

.active-todo {
    transform: translateY(0);
}

.inactive-todo {
    transform: translateY(-156px);
}

#add-list-button:hover {
    cursor: pointer;
    color: rgb(2, 78, 2);
}

#todo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    min-height: 100vh;
    min-width: 100vw;
    width: max-content;

    .todo-container {
        width: max-content;
        min-width: 100vw;
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        transition: all .7s ease-in-out;
    
        .todo-list {
            
            margin-top: 20px;
            width: 20vw; 
            min-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            // border: 1px solid black;
            height: max-content;

            .todo-list-title {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: center;
                align-items: center;
                padding: 0;
                width: 100%;

                .pushpin-container {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;

                    .edit-list {
                        height: 30px;
                        padding-top: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        i {
                            padding: 5px;
                            padding-top: 0;
                            color: #333;
                        }

                        i:hover {
                            cursor: pointer;
                            color: black;
                        }
                    }

                    .pushpin {
                        height: 30px;
                        width: 30px;
                    }
                }
                

                h2 {
                    padding-top: 0;
                    margin-top: 0;
                }
        
            }
        
            .todo-list-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                border-bottom: 1px solid black;
                background: #fff;
                margin-top: 5px;
                transition: all .7s ease-in-out;

                .todo-list-company {
                    width: 80%;
                    display: flex;
                    justify-content: space-between;

                    i {
                        color: grey;
                    }

                    i:hover {
                        cursor: pointer;
                        color: black;
                    }

                    .todo-list-redirect {
                        color: blue;
                     }

                     span:hover {
                         cursor: pointer;
                     }

                }

                p {
                    width: 80%;
                }
            }
        }   
    }
}